@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya:400,400i,500,700,800,900|Questrial&display=swap');

.no-bull {
  list-style-type: none;
  padding-left: 0;
}

.space-left {
  padding-left: 1em;
}

.no-wrap {
  white-space: nowrap;
}

.text-stroke {
  -webkit-text-stroke-width: 0.35px;
  -webkit-text-stroke-color: rgba(255,255,255, 0.35);
}
