// Header
$header-height-sm:          60px !default;
$header-height-lg:          75px !default;

// Override Bootstrap border variables
$border-width:              0.125rem !default;
$border-radius:             0.5rem !default;
$border-radius-lg:          0.75rem !default;
$border-radius-sm:          0.25rem !default;

// Spacers
$area-spacer:            2rem 2rem !default;
$section-spacer:         5rem 3rem !default;
